body {
    margin-top: 60px;


}

.center {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0;
    text-align: center;




}
.column-1 {
    border-style: solid;
    border-width: 1px;
    height: 250px;
    width: 33%;
    margin: 20px;
    box-sizing: border-box;


}
.text {
    margin: 20px;
    color: silver;
}
input {

    height: 40px;
    border: 2px black;
    border-style: solid;
    background: white;
}
.fa-solid {
    font-size: 36px;
    color: gold;

}
.menu {
    display:flex;
    justify-content:center;
    gap: 20px
}

.header {
    display:flex;
    justify-content: space-around;
    gap: 10px
}


.icon {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid black;
    text-align: center;
    background: white;
    position: relative;
    top: 40px;
    margin: 0 360px;


}






